{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">Reservation List</div>
  <div class="card-body">
    <table id="reservTable" class="table table-sm table-bordered" style="width:100%">
      <thead>
        <tr>
          <th></th>
          <th>Status</th>
          <th>RefID</th>
          <th>ResID</th>
          <th>Voucher</th>
          <th>OprCode</th>
          <th>OprName</th>
          <th>HotelName</th>
          <th>SalesDate</th>
          <th>InDate</th>
          <th>OutDate</th>
          <th>Room</th>
          <th>Meal</th>
          <th>Days</th>
          <th>Adult</th>
          <th>Child</th>
          <th>Purchase</th>
          <th>Sales</th>
          <th>OprCost</th>
          <th>Diff</th>
          <th>Margin</th>
          <th>P_SPOID</th>
          <th>P_SpoCode</th>
          <th>S_SPOID</th>
          <th>S_SpoCode</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}